ANTHROPIC_API_KEY=
CLAUDE_MODEL=claude-sonnet-4-6
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
N8N_SUBMIT_WEBHOOK=https://n8n-production-4a398.up.railway.app/webhook/ff-submit-post
WHISPER_MODEL_PATH=models/ggml-base.en.bin
